.accounts {

    .card:nth-child(1) {
        grid-area: table;

        .data {
            height: 100%;
            width: 100%;
            border-radius: 0 0 5px 5px;
            overflow-y: scroll;

            .no-data {
                width: 100px;
                height: 100px;
                position: relative;
                top: 50%;
                left: 50%;
            }
        }

        .data::-webkit-scrollbar {
            width: 0.5rem;
        }
        
        .data::-webkit-scrollbar-thumb {
            background: #1454DC;
            border-radius: 5px;
        }

        .id {
            background: rgb(30, 30, 30);
            width: 100%;
            height: 5rem;
            margin-bottom: 0.5rem;
            display: grid;
            grid-template-columns: 1fr 1fr 70px;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
            'name balance edit'
            'name balance delete';
        }

        .id:last-child {
            margin-bottom: 0;
        }

        .name {
            grid-area: name;
            letter-spacing: 0.1ch;
            padding: 1rem;
            display: flex;
            align-items: center;
        }

        .balance {
            grid-area: balance;
            background: rgb(30, 30, 30);
            letter-spacing: 0.1ch;
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: end;
        }

        .edit {
            grid-area: edit;
        }

        .edit, .delete {
            background: rgb(40, 40, 40);
            color: white;
            font-size: 1rem;
            letter-spacing: 0.1ch;
            transition: all 200ms ease;
        }

        .edit:hover {
            color: #1454DC;
        }

        .edit:hover, .delete:hover {
            background: black;
            cursor: pointer;
            transition: all 200ms ease;
        }

        .delete {
            grid-area: delete;
        }

        .delete:hover {
            color: crimson;
        }
    }
}

@media only screen and (max-width: 900px) {
    .accounts {
        .card:nth-child(1) {
            .id:last-child {
                margin-bottom: 3rem;
            }
        }

    }
}

@media only screen and (max-width: 505px) {
    .accounts {
        .card:nth-child(1) {
            * {
                font-size: 0.8rem;
            }

            .id {
                height: 4rem;
                grid-template-columns: 1fr 1fr 60px;
            }

            .edit, .delete {
                font-size: 0.8rem;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .accounts {
        .card:nth-child(1) {
            * {
                font-size: 0.6rem;
            }

            .id {
                height: 3rem;
                grid-template-columns: 1fr 1fr 50px;
            }

            .edit, .delete {
                font-size: 0.6rem;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .accounts {
        .card:nth-child(1) {
            * {
                font-size: 0.5rem;
            }

            .id {
                height: 2.5rem;
                grid-template-columns: 1fr 1fr 40px;
            }

            .edit, .delete {
                font-size: 0.5rem;
            }
        }
    }
}