.transactions {

    .card:nth-child(1) {
        grid-area: table;

        .data {
            height: 100%;
            width: 100%;
            border-radius: 0 0 5px 5px;
            overflow-y: scroll;

            .no-data{
                padding-top:25% ;
                opacity: 25%;
            }
        }

        .data::-webkit-scrollbar {
            width: 0.5rem;
        }
        
        .data::-webkit-scrollbar-thumb {
            background: crimson;
            border-radius: 5px;
        }

        .id {
            background: rgb(30, 30, 30);
            width: 100%;
            height: 5rem;
            margin-bottom: 0.5rem;
            display: grid;
            grid-template-columns: 110px 3fr 2fr 70px;
            grid-template-rows: 1fr 1fr;
            grid-template-areas:
            'day category amount edit'
            'date note account delete';
        }

        .id:last-child {
            margin-bottom: 0;
        }

        .day, .date, .category, .note, .amount, .account {
            letter-spacing: 0.1ch;
            display: flex;
        }

        .day {
            grid-area: day;
            align-items: end;
            justify-content: end;
            padding: 0 5px 5px 0;
        }

        .date {
            grid-area: date;
            justify-content: end;
            padding: 5px 5px 0 0;
        }

        .category {
            grid-area: category;
            align-items: end;
            padding: 0 0 5px 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .note {
            grid-area: note;
            color: #aaaaaa;
            padding: 5px 0 0 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .amount {
            grid-area: amount;
            align-items: end;
            justify-content: end;
            padding: 0 1rem 5px 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .account {
            grid-area: account;
            justify-content: end;
            padding: 5px 1rem 0 0;
        }

        .edit {
            grid-area: edit;
        }

        .edit, .delete {
            background: rgb(40, 40, 40);
            color: white;
            font-size: 1rem;
            letter-spacing: 0.1ch;
            transition: all 200ms ease;
        }

        .edit:hover {
            color: #1454DC;
        }

        .edit:hover, .delete:hover {
            background: black;
            cursor: pointer;
            transition: all 200ms ease;
        }

        .delete {
            grid-area: delete;
        }

        .delete:hover {
            color: crimson;
        }
    }
}

@media only screen and (max-width: 900px) {
    .transactions {
        .card:nth-child(1) {
            .id {
                grid-template-columns: 110px 1fr 1fr 70px;
            }

            .id:last-child {
                margin-bottom: 3rem;
            }
        }

    }
}

@media only screen and (max-width: 505px) {
    .transactions {
        .card:nth-child(1) {
            * {
                font-size: 0.8rem;
            }

            .id {
                height: 4rem;
                grid-template-columns: 90px 1fr 1fr 60px;
            }

            .edit, .delete {
                font-size: 0.8rem;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .transactions {
        .card:nth-child(1) {
            * {
                font-size: 0.6rem;
            }

            .id {
                height: 3rem;
                grid-template-columns: 70px 1fr 1fr 50px;
            }

            .edit, .delete {
                font-size: 0.6rem;
            }
        }
    }
}

@media only screen and (max-width: 375px) {
    .transactions {
        .card:nth-child(1) {
            * {
                font-size: 0.5rem;
            }

            .id {
                height: 2.5rem;
                grid-template-columns: 60px 1fr 1fr 40px;
            }

            .edit, .delete {
                font-size: 0.5rem;
            }
        }
    }
}