.transactions {
    display: grid;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 2fr 8fr;
    grid-template-areas:
    'table button'
    'table summary';
    gap: 1.5rem;
}

@media only screen and (max-width: 805px) {
    .transactions {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr;
        grid-template-areas:
        'summary'
        'table';
    }
}